*{
	margin:0;padding:0;
}
ul li{list-style:none;}
a{text-decoration:none;}
.container{
	width:1190px;
	margin:0 auto;
}
header{
	overflow:hidden;
}

header .first{
	background-color: #F5F5F5;
	height:36px;
	box-sizing:border-box;

	.ul-l{
		float:left;
		li{
			float:left;
			padding-top:10px;

			a{
				color: #999999;
				font-size: 12px;
				margin-right:9px;
			}

		}
		li:nth-child(1){
			padding-top:5px;
		}
		.spli{
			p{
				color: #999999;
				font-size: 12px;
				float: left;
				margin-left: 5px;	
			}
			span{
				display: block;
				width: 20px;
				height: 18px;
				float: left;
				margin-right: 4px;
			}
			span:nth-child(2){
				background:url('../img/main.fw.png')
			}
			span:nth-child(3){
				background:url('../img/main.fw.png') -25px 0;
			}
			span:nth-child(4){
				background:url('../img/main.fw.png') -55px 0 ;
			}
			span:nth-child(5){
				background:url('../img/main.fw.png') -85px 0 ;
			}
		}
		li:nth-child(3){

				color: #999999;
				font-size: 12px;
		}
	}
	.ul-r{
		float: right;
		li{
			float: left;
			padding-top:8px;
			a{
				color: #999999;
				display: block;
				height: 14px;
				font-size: 12px;
				padding:0 7px;
				border-right:1px solid #D1D1D1;
			}
		}
	}


}
header .sreach .container>a{
			display: block;
			width: 307px;
			height: 126px;
			background:url('../img/main.fw.png') 0 -35px;
			float: left;

	}

header .sreach .container{
	span{
				width: 670px;
				height: 89px;
				background:url('../img/main.fw.png') -355px 0;
				float: right;
			}
			
}

hr{
		border-top: 1px solid #DA3217;

			}