*{
	margin:0;padding:0;
}
ul li{list-style:none;}
a{text-decoration:none;}
.container{
	width:1190px;
	margin:0 auto;
}

header .first{
	background-color: #F5F5F5;
	height:36px;
	box-sizing:border-box;

	.ul-l{
		float:left;
		li{
			float:left;
			padding-top:10px;

			a{
				color: #999999;
				font-size: 12px;
				margin-right:9px;
			}

		}
		li:nth-child(1){
			padding-top:5px;
		}
		.spli{
			p{
				color: #999999;
				font-size: 12px;
				float: left;
				margin-left: 5px;	
			}
			span{
				display: block;
				width: 20px;
				height: 18px;
				float: left;
				margin-right: 4px;
			}
			span:nth-child(2){
				background:url('../img/main.fw.png')
			}
			span:nth-child(3){
				background:url('../img/main.fw.png') -25px 0;
			}
			span:nth-child(4){
				background:url('../img/main.fw.png') -55px 0 ;
			}
			span:nth-child(5){
				background:url('../img/main.fw.png') -85px 0 ;
			}
		}
		li:nth-child(3){
				color: #999999;
				font-size: 12px;
		}
	}
	.ul-r{
		float: right;
		li{
			float: left;
			padding-top:8px;
			a{
				color: #999999;
				display: block;
				height: 14px;
				font-size: 12px;
				padding:0 7px;
				border-right:1px solid #D1D1D1;
			}
		}
	}


}

header .sreach .container>a{
			display: block;
			width: 307px;
			height: 126px;
			background:url('../img/main.fw.png') 0 -35px;
	}
	header .sreach{
		position:relative;
		input{
			width: 400px;
			height: 43px;
			border:2px solid #CC1D00;
			position: absolute;
			top: 36px;
			left: 405px;
			box-sizing:border-box;
			padding-left:10px;
			color: #999999;
		}
		button{
			width: 90px;
			height: 43px;
			background-color: #CC1D00;
			border:0;
			position:absolute;
			top: 36px;
			left: 805px;
		}
		.keyword{
			position:absolute;
			top: 90px;
			left: 405px;
			font-size: 12px;
			color:  #999999;
			a{
				color:  #999999;
			}
		}

	}
	header .last{
		height: 37px;
	}

	header .last .container{
			p{
				width: 180px;
				height: 37px;
				background-color: #CB351A;
				font-size: 14px;
				color: #FFFFFF;
				text-align: center;
				line-height: 37px;
				float: left;
				

			}
			ul{
				float: left;
				li{
					float: left;
					a{
						color: #7D667D;
						display: block;
						height: 37px;
						line-height: 37px;
						margin:0 11px;
					}
				}
			}
		}
	#menubox .container{
		position:relative;
	}
	#menubox .container .tab{
		
		z-index: 1000;
			>li{
				
			width: 180px;
			height: 51px;
			background-color: #CB3E25;
			border-top:2px solid #DA5A44;
			border-bottom:1px solid #B82F17;
			text-align: center;
			line-height: 51px;
			>a{
				color: #FFFFFF;
			}

		} 
	}
	.tabbox{
		opacity: 0.7;
		background-color: #D0F5F9;
		display: none;
		position:absolute;
		left: 182px;
		top: 0;
		z-index: 1000;
		width: 400px;
		height: 480px;
		box-sizing:border-box;
		padding:0 10px;
		overflow: hidden;
		
		li .spp{
			display: block;
			font-size: 16px;
		}
		li a{
					font-size: 12px;
					color:#6B6968;
					display: inline-block;
					margin:0 10px;
				}
			}
	
	#menubox{
		height: 485px;
	}
	
	#menubox .container .tab>li.active{
		background-color: #A90000;
	}

	
	body{
		height: 1000px;
	}
.carousel{
	position:absolute;
	left: 180px;
	top: -485px;
	}

	// 去购物车结算
	.container .buycar{
		width: 196px;
		height: 35px;
		border:1px solid #E4E4E4;
		background-color: #F9F9F9;
		list-style:none;
		float: right;
		font-size: 14px;
		text-align: center;
		line-height: 35px;
		a{
			color:#7A7A7A; 
		}
	}

	.container .nul{
		position:absolute;
		top: 0;
		right: 0;
		li img{
			opacity: 0.8;
		}
	}

	.r_nav{
		width: 36px;
		height: 615px;
		background-color: #444851;
		position:fixed;
		top:0;
		right: 0;
		color: #FFFFFF;

		ul button {
			width: 25px;
			margin:0 auto;
			background-color: #444851;
			border:0;
			color: #F9FDF8;
			span{
			display: block;
			width:23px;
			height: 22px;
			background:url('../img/main.fw.png') -115px 0;
			margin-top: 86px;


		}
	}

	}


	
	