* {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

a {
  text-decoration: none; }

.container {
  width: 1190px;
  margin: 0 auto; }

header {
  overflow: hidden; }

header .first {
  background-color: #F5F5F5;
  height: 36px;
  box-sizing: border-box; }
  header .first .ul-l {
    float: left; }
    header .first .ul-l li {
      float: left;
      padding-top: 10px; }
      header .first .ul-l li a {
        color: #999999;
        font-size: 12px;
        margin-right: 9px; }
    header .first .ul-l li:nth-child(1) {
      padding-top: 5px; }
    header .first .ul-l .spli p {
      color: #999999;
      font-size: 12px;
      float: left;
      margin-left: 5px; }
    header .first .ul-l .spli span {
      display: block;
      width: 20px;
      height: 18px;
      float: left;
      margin-right: 4px; }
    header .first .ul-l .spli span:nth-child(2) {
      background: url("../img/main.fw.png"); }
    header .first .ul-l .spli span:nth-child(3) {
      background: url("../img/main.fw.png") -25px 0; }
    header .first .ul-l .spli span:nth-child(4) {
      background: url("../img/main.fw.png") -55px 0; }
    header .first .ul-l .spli span:nth-child(5) {
      background: url("../img/main.fw.png") -85px 0; }
    header .first .ul-l li:nth-child(3) {
      color: #999999;
      font-size: 12px; }
  header .first .ul-r {
    float: right; }
    header .first .ul-r li {
      float: left;
      padding-top: 8px; }
      header .first .ul-r li a {
        color: #999999;
        display: block;
        height: 14px;
        font-size: 12px;
        padding: 0 7px;
        border-right: 1px solid #D1D1D1; }

header .sreach .container > a {
  display: block;
  width: 307px;
  height: 126px;
  background: url("../img/main.fw.png") 0 -35px;
  float: left; }

header .sreach .container span {
  width: 670px;
  height: 89px;
  background: url("../img/main.fw.png") -355px 0;
  float: right; }

hr {
  border-top: 1px solid #DA3217; }
