@charset "UTF-8";
body, html {
  width: 100%;
}

.register {
  height: 659px;
  width: 100%;
}

.register .register_container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.register .register_container .register_left {
  width: 705px;
  height: 659px;
  position: absolute;
  top: 0;
  left: -114px;
}

.register .register_container .register_right {
  float: right;
  background-color: #fff;
  margin-top: 47px;
  margin-left: 10px;
  width: 450px;
  box-shadow: #afabab 0px 0px 8px;
}

.register .register_container .register_right .register_box {
  width: 330px;
  text-align: left;
  margin: 45px auto;
  height: 502px;
}

.register .register_container .register_right .register_box ul {
  position: relative;
}

.register .register_container .register_right .register_box ul li:nth-child(7) {
  margin-left: 62px;
  margin-bottom: 20px;
}

.register .register_container .register_right .register_box ul li:nth-child(7) a {
  color: inherit;
  text-decoration: none;
}

.register .register_container .register_right .register_box ul li:nth-child(8) input {
  width: 210px;
  display: inline;
  margin-left: 72px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  border: 0px;
  cursor: pointer;
  overflow: hidden;
  background-color: #cf0101;
}

.register .register_container .register_right .register_box ul li:nth-child(9) {
  text-align: right;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 25px;
  border-bottom: #ccc solid 1px;
}

.register .register_container .register_right .register_box ul li:nth-child(9) a {
  text-decoration: underline;
  color: #a78668;
  margin-left: 10px;
  margin: 0;
  padding: 0;
}

.register .register_container .register_right .register_box ul li:nth-child(10) {
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}

.register .register_container .register_right .register_box ul li:nth-child(10) span {
  color: red;
}

.register .register_container .register_right .register_box ul li:nth-child(1) {
  width: 100%;
  text-align: center;
  font-family: Helvetica, 黑体;
  font-size: 12px;
  color: #7b7c7c;
  overflow: hidden;
  border-bottom: 1px solid #cccccc;
  display: list-item;
}

.register .register_container .register_right .register_box ul li:nth-child(1) span {
  height: 28px;
  line-height: 28px;
  padding: 2px 20px;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  position: absolute;
  left: 0;
  top: -30px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-family: Helvetica, 黑体;
  font-size: 12px;
}

.register .register_container .register_right .register_box ul li:nth-child(2) {
  height: 32px;
  line-height: 32px;
  clear: both;
  float: none;
}

.register .register_container .register_right .register_box ul li:nth-child(3) {
  padding-left: 2px;
  height: 64px;
}

.register .register_container .register_right .register_box ul li:nth-child(3) label {
  width: 72px;
  float: left;
  text-align: right;
  line-height: 32px;
  height: 32px;
  vertical-align: middle;
  cursor: default;
}

.register .register_container .register_right .register_box ul li:nth-child(3) input {
  width: 210px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  float: left;
  border: 1px solid #ccc;
}

.register .register_container .register_right .register_box ul li:nth-child(4) {
  padding-left: 2px;
  height: 64px;
}

.register .register_container .register_right .register_box ul li:nth-child(4) label {
  width: 72px;
  float: left;
  text-align: right;
  line-height: 32px;
  height: 32px;
  vertical-align: middle;
  cursor: default;
}

.register .register_container .register_right .register_box ul li:nth-child(4) input {
  width: 210px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  float: left;
  border: 1px solid #ccc;
}

.register .register_container .register_right .register_box ul li:nth-child(5) {
  padding-left: 2px;
  height: 64px;
}

.register .register_container .register_right .register_box ul li:nth-child(5) label {
  width: 72px;
  float: left;
  text-align: right;
  line-height: 32px;
  height: 32px;
  vertical-align: middle;
  cursor: default;
}

.register .register_container .register_right .register_box ul li:nth-child(5) input {
  width: 210px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  float: left;
  border: 1px solid #ccc;
}

.register .register_container .register_right .register_box ul li:nth-child(6) {
  padding-left: 2px;
  height: 64px;
}

.register .register_container .register_right .register_box ul li:nth-child(6) label {
  width: 72px;
  float: left;
  text-align: right;
  line-height: 32px;
  height: 32px;
  vertical-align: middle;
  cursor: default;
}

.register .register_container .register_right .register_box ul li:nth-child(6) input {
  width: 210px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  float: left;
  border: 1px solid #ccc;
}
